@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav ul li {
    display: inline-block;
}

body {
    margin-bottom: 50px;
}

nav {
    padding-left: 12%;
    background-color: #313131;
}

footer {
    width: 100%;
    height: 20px;
    position: fixed;
    padding: 4px 0;
    bottom: 0;
    background-color: #313131;
}

h4 {
    text-align: center;
    padding: 5px;
}


ul li{
    display: inline-block;
}

ul {
    position: absolute;
    left: 51%;
    margin-left: 18%;
    margin-top: -50px;
}

ul li a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 12px;
    padding: 16px;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
}

ul li a:hover{
    color: #32a5e7;
    transition: 0.3s;
}

ul li a i{
    font-size: 20px;
}

nav .logo {
    width: 25px;
    height: 50px;
    display: inline;
    padding-top: 5px;
}

button {
    padding: 2px;
    border: none;
    width: 60px;
    height: 20px;
    background-color: #32a5e7;
}

a {
    display: block;
}

h2 {
    padding-top: 10px;
    font-weight: bold;
}