@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');

.botao {
    margin-top: 10px;
    padding: 2px;
    border: none;
    width: 60px;    
    height: 20px;
    background-color: #313131;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.3s;
}

.botao:hover {
    transform: scale(1.05);
    color: #32a5e7;
}

.logo {
    color: #FFF;
    transition: 0.3s;
}

.logo-menu {
    color: #FFF;
    transition: 0.3s;
}

.logo-menu a {
    width: 50px;
    text-decoration: none;
}

.logo-menu:hover {
    color: #32a5e7;
}


.footer-container {
    padding: 0 12%;
}

.pg160px {
    padding-top: 100px;
}

.pg50px {
    padding-top: 50px;
}

.pg20px {
    padding-top: 20px;
}

.left {
    margin-left: 60px;
}

.imgcont {
    max-width: 100%;
    height: 250px;
    width: 450px;
}

.imgcont2 {
    max-width: 100%;
    height: 350px;
    width: 628px;
}

.shadow {
    -webkit-box-shadow: 1px 4px 14px 2px rgba(0,0,0,0.12); 
    box-shadow: 1px 4px 14px 2px rgba(0,0,0,0.12);
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.separador {
    padding-top: 50px;
}

.blue {
    color: white;
    background-color: #0a5edb;
}

.green {
    color: white;
    background-color: #499253;
}

.red {
    color: white;
    background-color: rgb(175, 26, 26);
}

.divisor {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.divisor:hover {
    color: black;
    transform: scale(1.15);
    text-decoration: underline;
    font-weight: bold;
}

.direitos {
    left: 74.3%;
    position: absolute;
}   

.sized {
    font-size: 24px;
    font-weight: bold;
}

.titlePage {
    padding-top: 20px;
}

.absolute-img {
    margin-top: 20px;
    position: relative;
}

.fRight {
    float: right;
}